<div class="container mt-5">
    <div
        class="row d-flex flex-column justify-content-center align-items-center">
        <form class="d-flex justify-content-center align-items-center" #form="ngForm">
            <div class="mb-3 col-6">
                <label for="inputName"
                    class="form-label mb-2 fw-normal fs-4">Enter Name</label>
                <input type="text" class="form-control mb-3" id="inputName"
                    name="inputLabel" #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
                    aria-describedby="inputName" [class.is-valid]="name.valid" placeholder="Name.."
                    required [(ngModel)]="userName" (keypress)="preventDigits($event)"
                    (input)="validateInput()" required>

                <div class="invalid-feedback my-2 fw-semibold">Name is
                    Required.</div>

                <label for="inputAge"
                    class="form-label mb-2 fw-normal fs-4">Enter Age</label>
                <input type="number" min="0" max="99" class="form-control mb-3"
                    id="inputAge" #age="ngModel" [class.is-invalid]="age.invalid && age.touched"
                    name="inpuAge"  [class.is-valid]="age.valid" placeholder="Age.."
                    aria-describedby="inputName"
                    required [(ngModel)]="userAge"
                    onkeypress="if(this.value.length==2) return false;"
                    (input)="validateInput()" required>

                <div class="invalid-feedback my-2 fw-semibold">Age is
                    Required.</div>

                @if (isShowVisible()) {
                <button type="button" class="btn btn-primary"
                    (click)="submitDetails(form)" [disabled]="isShowDisabled()">Show
                    Details</button>
                }
                <button type="button" class="btn btn-success ms-3"
                    (click)="showButton()">Show Button</button>
            </div>

            @if(isShowClicked()) {
            <div class="col-6">
                <p class="text-center mt-3 fw-semibold text-secondary fs-4">User
                    Details</p>
                <p class="text-center text-secondary fw-medium fs-4">Name: {{ userDetails().name }}</p>
                <p class="text-center text-secondary fw-medium fs-4">Age: {{ userDetails().age }}</p>
            </div>
            } @else {
            <div class="col-6">
                <p
                    class="text-center mt-3 fw-semibold text-secondary fs-5">Enter
                    details and Click "Show Details".</p>
            </div>
            }
        </form>

    </div>
</div>
