<div class="container my-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-9">
            <p class="fs-5 fw-medium">In this article we talk for
                <span>Span in HTML...</span> <br>

                Of the many HTML elements youll encounter on your journey to
                front-end mastery, span is one youll see very often. But,
                unlike other elements, the code <span>span</span> tag doesnt
                create a specific
                type of page element on its own. At first, this might be
                confusing — whats an element like <span>span</span> actually
                used for?

                As it turns out, a lot. Span elements give designers and
                developers tight control over the styling and formatting
                of their web pages and content. If you want to know how
                web pages are built, you should get comfortable with
                <span>span</span> tags and their purpose.

                In this guide, well introduce you to the span
                element in HTML. Well show you how theyre written,
                what theyre meant for (and what theyre not), and
                give some examples of <span>spans</span> in action. Finally,
                well clarify the difference between span and a
                similar element, the div. Lets get started.</p>
        </div>
    </div>
</div>